<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 offeset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <%= render '/partials/logout' %>
      <%= render '/partials/messages' %>
      <div class="card">
        <div class="card-body">
          <hr>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                <%= t('breadcrumbs.company.home') %>
              </li>
            </ol>
          </nav>
          <hr>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <hr>
          <div class="text-center">
              <%= image_tag @company.avatar, class: 'avatar profile' %>
            <br><br>
            <b><%= @company.nickname %></b>
            <br><br>
            <%= link_to t('.settings_lnk'), candidato_dashboard_editar_perfil_path, class: 'link' %>
          </div>
          <hr>
        </div>
      </div>
      <br>
      <div class="card">
        <h3 class="card-header">
          <%= t('.vacant_jobs') %>
        </h3>
        <div class="card-body">
          <%= link_to t('.add_new_vacant_job_btn'), empresa_dashboard_vaga_nova_vaga_path, class: 'btn btn-dark' %>
          <hr>
          <% @company.company_vacant_jobs.sort_by_profession.each do |vacant_job| %>
            <button class="company-vacant-jobs-accordion"><%= vacant_job.profession.name %></button>
            <div class="panel">
              <br>
              <strong><%= t('.category') %></strong>
              <span><%= vacant_job.category %></span>
              <br><br>
              <strong><%= t('.availabled_quantity') %></strong>
              <span><%= vacant_job.availabled_quantity %></span>
              <br><br>
              <strong><%= t('.filled_quantity') %></strong>
              <span><%= vacant_job.filled_quantity %></span>
              <br><br>
              <strong><%= t('.details') %></strong>
              <span><%= vacant_job.details %></span>
              <br><br>
              <strong><%= t('.remote') %></strong>
              <span><%= t("#{vacant_job.remote.to_s}") %></span>
              <br><br>
              <strong><%= t('.state') %></strong>
              <span><%= vacant_job.state %></span>
              <br><br>
              <strong><%= t('.city') %></strong>
              <span><%= vacant_job.city %></span>
              <br><br>
              <strong><%= t('.status') %></strong>
              <span><%= t("statuses.#{vacant_job.status}") %></span>
              <br><br>
              <%= link_to t('.edit_vacant_job_btn'), edit_company_vacant_job_path(vacant_job.vacant_job_id), class: 'btn btn-dark' %>
              <hr>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <br>
      <div class="card">
        <h3 class="card-header">
          <%= t('.candidates') %>
        </h3>
        <div class="card-body">
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
