<br><br>
<div class="container-fluid">
  <%= render '/partials/messages' %>
  <div class="row">
    <div class="col-sm-4 offset-sm-4 col-md-4 offset-md-4 col-lg-4 offset-lg-4">
      <div class="card">
        <h5 class="card-header">
          <%= t('.title') %>
        </h5>
        <div class="card-body">
          <p class="card-text">
            <%= form_with scope: 'user', url: '/validate_access' do |form| %>
              <div class="mb-3">
                <label class="form-label"><%= t('.choose_profile') %></label>
                <%= form.select 'profile',
                                options_for_select(Profile.list),
                                {},
                                class: 'form-select',
                                required: true %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.email') %></label>
                <%= form.text_field 'email', class: 'form-control', required: true %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.password') %></label>
                <%= form.password_field 'password', class: 'form-control', required: true %>
              </div>
              <%= link_to t('.forgot_your_password_lnk'), enviar_senha_path %>
              <br><br>
              <%= form.submit t('.access_btn'), class: 'btn btn-dark' %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
