<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 offset-sm-4 col-md-6 offset-md-4 col-lg-4 offset-lg-4">
      <%= render '/partials/messages' %>
      <div class="card">
        <h5 class="card-header">
          <%= t('.title') %>
        </h5>
        <div class="card-body">
          <p class="card-text">
          <%= form_with scope: 'candidate', url: '/store_candidate_data' do |form| %>
              <h6 class="fw-bold"><%= t('.personal_data') %></h6>
              <hr>
              <div class="mb-3">
                <label class="form-label fst-italic">
                  <%= t('.email') %>
                  <%= session[:user_data]['email'] %>
                </label>
                <br>
                <label class="form-label fst-italic">
                  <%= t('.password') %>
                  <%= t('.password_content') %>
                </label>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.first_name') %></label>
                <%= form.text_field 'first_name', class: 'form-control', required: true %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.last_name') %></label>
                <%= form.text_field 'last_name', class: 'form-control', required: true %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.state') %></label>
                <%= form.select 'state',
                                options_for_select(State.all.pluck(:name)),
                                {},
                                class: 'form-select',
                                required: true,
                                onchange: "listCities($(this).val(), document.getElementById('candidate_city'))" %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.city') %></label>
                <%= form.select 'city',
                                options_for_select([]),
                                {},
                                class: 'form-select',
                                required: true %>
              </div>
              <div class="mb-3 form-check">
                <%= form.check_box 'ethnicity_self_declaration', class: 'form-check-input', id: 'ethnicitySelfDeclarationChk', checked: true %>
                <label class="form-check-label" for="ethnicitySelfDeclarationChk"><%= t('.ethnicity_self_declaration_chk')%></label>
              </div>
              <br>
              <%= form.submit t('.register_first_vacant_job_btn'), class: 'btn btn-dark' %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
