<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 offeset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <%= render '/partials/logout' %>
      <%= render '/partials/messages' %>
      <div class="card">
        <div class="card-body">
          <hr>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                <%= link_to t('breadcrumbs.company.home'), empresa_dashboard_path %>
              </li>
              <li class="breadcrumb-item" aria-current="page">
                <%= @candidate.fullname %>
              </li>
            </ol>
          </nav>
          <hr>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <hr>
          <div class="text-center">
            <%= image_tag @candidate.avatar, class: 'avatar profile' %>
            <br>
            <br>
            <h2><%= @candidate.fullname %><br>
          </div>
          <hr>
          <strong><%= t('.email') %></strong>
          <br>
          <span><%= @candidate.email %></span>
          <br><br>
          <strong><%= t('.state') %></strong>
          <br>
          <span><%= @candidate.state %></span>
          <br><br>
          <strong><%= t('.city') %></strong>
          <br>
          <span><%= @candidate.city %></span>
          <br><br>
          <strong><%= t('.ethnicity_self_declaration') %></strong>
          <br>
          <span><%= t("#{@candidate.ethnicity_self_declaration.to_s}") %></span>
          <br><br>
        </div>
      </div>
      <br>
      <div class="card">
        <h3 class="card-header">
          <%= t('.conference_schedule') %>
        </h3>
        <div class="card-body">
          <%= form_with scope: 'conference', method: :post, url: '/dashboard/conference/create' do |form| %>
            <div class="mb-3">
              <label class="form-label"><%= t('.date') %></label>
              <%= form.text_field 'date', class: 'form-control', required: true, placeholder: 'dd/mm/aaaa' %>
            </div>
            <div class="mb-3">
              <label class="form-label"><%= t('.horary') %></label>
              <%= form.text_field 'horary', class: 'form-control', required: true, placeholder: '00:00' %>
              <small><%= t('.horary_format') %></small>
            </div>
            <%= form.hidden_field 'candidate_afro_id', value: @candidate.afro_id %>
            <br>
            <%= form.submit t('.schedule_btn'), class: 'btn btn-dark' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
