<br><br>
<div class="container-fluid">
  <%= render '/partials/messages' %>
  <div class="row">
    <div class="col-sm-6 offset-sm-4 col-md-6 offset-md-4 col-lg-4 offset-lg-4">
      <div class="card">
        <h5 class="card-header">
          <%= t('.title') %>
        </h5>
        <div class="card-body">
          <p class="card-text">
          <%= form_with scope: 'vacant_job2', url: '/store_second_vacant_job_data' do |form| %>
              <h6 class="fw-bold"><%= t('.vacancy_data') %></h6>
              <hr>
              <div class="mb-3">
                <label class="form-label fst-italic">
                  <%= t('.email') %>
                  <%= session[:user_data]['email'] %>
                </label>
                <br>
                <label class="form-label fst-italic">
                  <%= t('.password') %>
                  <%= t('.password_content') %>
                </label>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.position') %></label>
                <%= form.select 'profession_id',
                                options_for_select(Profession.pluck(:name, :id)),
                                {},
                                class: 'form-select',
                                required: true %>
                <% #TODO: Incluir quantidade de pessoas interessadas %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.category') %></label>
                <%= form.select 'category',
                                options_for_select(VacantJob::CATEGORIES),
                                {},
                                class: 'form-select',
                                required: true %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.state') %></label>
                <%= form.select 'state',
                                options_for_select(State.all.pluck(:name)),
                                {},
                                class: 'form-select',
                                required: true,
                                onchange: "listCities($(this).val(), document.getElementById('vacant_job2_city'))" %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.city') %></label>
                <%= form.select 'city',
                                options_for_select([]),
                                {},
                                class: 'form-select',
                                required: true %>
              </div>
              <div class="mb-3 form-check">
                <%= form.check_box 'remote', class: 'form-check-input', id: 'remoteJobChk' %>
                <label class="form-check-label" for="remoteJobChk"><%= t('.remote_job_chk')%></label>
              </div>
              <div class="mb-3 form-check">
                <%= form.check_box 'alert', class: 'form-check-input', id: 'vacancyAlertChk' %>
                <label class="form-check-label" for="vacancyAlertChk"><%= t('.wish_receive_vacancy_alert_chk')%></label>
              </div>
              <br>
              <%= form.submit t('.finish_candidate_register_btn'), class: 'btn btn-dark' %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
