<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 offset-sm-4 col-md-6 offset-md-4 col-lg-4 offset-lg-4">
      <%= render '/partials/messages' %>
      <div class="card">
        <h5 class="card-header">
          <%= t('.title') %>
        </h5>
        <div class="card-body">
          <p class="card-text">
          <%= form_with scope: 'professional', url: '/create_professional' do |form| %>
              <h6 class="fw-bold"><%= t('.address_data') %></h6>
              <hr>
              <div class="mb-3">
                <label class="form-label fst-italic">
                  <%= t('.email') %>
                  <%= session[:user_data]['email'] %>
                </label>
                <br>
                <label class="form-label fst-italic">
                  <%= t('.cpf') %>
                  <%= session[:user_data]['cpf'] %>
                </label>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.postal_code') %></label>
                <%= form.text_field 'postal_code', class: 'form-control', required: true %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.address') %></label>
                <%= form.text_field 'address', class: 'form-control', required: true %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.number') %></label>
                <%= form.text_field 'number', class: 'form-control', required: true %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.complement') %></label>
                <%= form.text_field 'complement', class: 'form-control' %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.district') %></label>
                <%= form.text_field 'district', class: 'form-control', required: true %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.state') %></label>
                <%= form.select 'state',
                                options_for_select(State.all.pluck(:name)),
                                {},
                                class: 'form-select',
                                required: true,
                                onchange: "listCities($(this).val(), document.getElementById('professional_city'))" %>
              </div>
              <div class="mb-3">
                <label class="form-label"><%= t('.city') %></label>
                <%= form.select 'city',
                                options_for_select([]),
                                {},
                                class: 'form-select',
                                required: true %>
              </div>
              <br>
              <%= form.submit t('.finish_register_btn'), class: 'btn btn-dark' %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
