<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 offeset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <%= render '/partials/logout' %>
      <%= render '/partials/messages' %>
      <div class="card">
        <div class="card-body">
          <hr>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">
                <%= t('breadcrumbs.candidate.home') %>
              </li>
            </ol>
          </nav>
          <hr>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <hr>
          <div class="text-center">
              <%= image_tag @user.avatar, class: 'avatar profile' %>
            <br><br>
            <b><%= @user.fullname %></b>
            <br><br>
            <%= link_to t('.edit_profile_lnk'), candidato_dashboard_editar_perfil_path, class: 'link' %>
          </div>
          <hr>
        </div>
      </div>
      <br>
      <div class="card">
        <h3 class="card-header">
          <%= t('.conference') %>
        </h3>
        <div class="card-body">
          <span><%= t('messages.informations.without_conference_notifications') %></span>
        </div>
      </div>
      <br>
      <div class="card">
        <h3 class="card-header">
          <%= t('.my_candidatures') %>
        </h3>
        <div class="card-body">
          <% CandidaturePresenter.candidatures_list(@user).each do |candidature| %>
            <div class="row">
              <div class="col-sm-4 offset-sm-1 col-md-4 col-lg-2">
                <%= image_tag candidature.company_vacant_job.company.avatar, class: 'logotype' %>
              </div>
              <div class="col-sm-7 col-md-7 col-lg-7">
                <h5><%= candidature.company_vacant_job.company.name %></h5>
                <hr>
                <strong><%= t('.position') %></strong>
                <span><%= candidature.company_vacant_job.profession.name %></span>
                <br><br>
                <strong><%= t('.category') %></strong>
                <span><%= candidature.company_vacant_job.category %></span>
                <br><br>
                <strong><%= t('.state') %></strong>
                <span><%= candidature.company_vacant_job.company.state %></span>
                <br><br>
                <strong><%= t('.city') %></strong>
                <span><%= candidature.company_vacant_job.company.city %></span>
                <br><br>
                <strong><%= t('.details') %></strong>
                <span><%= candidature.company_vacant_job.details %></span>
                <br><br>
                <strong><%= t('.remote') %></strong>
                <span><%= t("#{candidature.company_vacant_job.remote.to_s}") %></span>
                <br><br>
                <%= form_with scope: :candidature, method: :delete, url: '/candidature/dashboard/cancel' do |form| %>
                  <%= form.hidden_field :id, value: candidature.id %>
                  <%= form.submit t('.cancel_btn'), class: 'btn btn-dark' %>
                <% end %>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
      <br>
      <div class="card">
        <h3 class="card-header">
          <%= t('.most_recent_vacant_jobs') %>
        </h3>
        <div class="card-body">
          <hr>
          <% if CandidaturePresenter.exceeded_quantity?(@user) %>
            <div class="alert alert-danger" role="alert">
              <%= t('messages.errors.exceeded_vacant_job_limit') %>
            </div>
          <% end %>
          <% @user.available_vacant_jobs.each do |vacant_job| %>
            <div class="row">
              <div class="col-sm-4 offset-sm-1 col-md-4 col-lg-2">
                <%= image_tag vacant_job.company.avatar, class: 'logotype' %>
              </div>
              <div class="col-sm-7 col-md-7 col-lg-7">
                <h5><%= vacant_job.company.name %></h5>
                <span><%= vacant_job.profession.name %> - <%= vacant_job.availabled_quantity %> <%= t('.vacant_jobs')%></span>
                <br>
                <span>
                  <%= vacant_job.filled_quantity %>
                  <%= t('.registered_candidates', count: vacant_job.filled_quantity) %>
                </span>
                <br>
                <small>
                  <%= link_to t('.know_more'), "/candidato/dashboard/vaga/#{vacant_job.vacant_job_id}" %>
                </small>
                <br>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
