<br><br>
<div class="container-fluid">
  <%= render '/partials/messages' %>
  <div class="row">
    <div class="col-sm-10 offeset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <hr>
          <div class="text-center">
            <% unless @user.avatar %>
              <%= image_tag 'add-photo', class: 'avatar profile' %>
            <% end %>
            <br><br>
            <b><%= @user.fullname %></b>
            <br><br>
            <%= link_to t('.edit_profile_lnk'), candidato_dashboard_editar_perfil_path %>
          </div>
          <hr>
        </div>
      </div>
      <br>
      <div class="card">
        <h3 class="card-header">
          <%= t('.most_recent_vacant_jobs') %>
        </h3>
        <div class="card-body">
          <hr>
          <% @user.available_vacant_jobs.each do |vacant_job| %>
            <div class="row">
              <div class="col-sm-4 offset-sm-1 col-md-4 col-lg-2">
                <%= image_tag vacant_job.company.avatar, class: 'logotype' %>
              </div>
              <div class="col-sm-7 col-md-7 col-lg-7">
                <h5><%= vacant_job.company.name %></h5>
                <span><%= vacant_job.profession.name %> - <%= vacant_job.availabled_quantity %> <%= t('.vacant_jobs')%></span>
                <br>
                <span>
                  <%= vacant_job.filled_quantity %>
                  <%= t('.registered_candidates', count: vacant_job.filled_quantity) %>
                </span>
                <br><br>
                <small><%= t('.know_more') %></small>
                <br>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
